.itemCardStorage{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 200px;
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(64, 64, 64);
  border-radius: 16px;
  color: white;
  font-size: 16px;
  transition: background-color 0.2s;
  transition: border-color 0.2s;
}

.itemCardStorage:hover{
  cursor:pointer;
  background-color: rgb(18,18,18);
  border-color: rgb(202, 202, 202);
}

.itemName{
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.crateImageItem{
  width: 80px;
  user-select: none;
  image-rendering: pixelated;
}