.appNavBar{
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: center;
  box-sizing: border-box;
  height: 35px;
  width: 100%;
  padding: 10px;
  padding-top: 28px;
  padding-bottom: 25px;
  background-color: black;
  margin-left: -10px;
}

.navBarFiller{
  box-sizing: border-box;
  height: 35px;
  width: 100%;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: -12px;
  margin-top: -10px;
}

.logo{
  color: rgb(57, 255, 47);
  margin-left: 5px;
  
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}

.accountOwner{
  font-size: 18px;
  font-weight: 500;
}

@media only screen and (max-width: 500px) {
  .logo{
    display: none;
    visibility: hidden;
  }

  .navbarRight{
    display: none;
  }

  .navbarLeft{
    display: block;
  }
}

@media only screen and (min-width: 500px){
  .navbarRight{
    position:fixed;
    right: 15px;
    display: block;
  }

  .navbarLeft{
    display: none;
  }
}

.navlink{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.currency{
  font-weight: 600;
  font-size: 20px;
  color: gold;
}

.userLoginButton{
  height: 30px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.userLoginButton:hover{
  background-color: rgb(57, 255, 47);
}