.crateOrder{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 240px;
  padding: 5px;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(64,64,64);
  background-color: black;
}

.crateName{
  font-size: 18px;
  font-weight: 600;
}

.crateImage{
  width:100px;
  image-rendering: pixelated;
}

.buyButton{
  background-color: rgb(32, 32, 32);
  border-style: none;
}

.buyButton:hover{
  background-color: darkorange;
}